/**
 *  Buttons
 *
 * Author: Creative Blazer
 * Project: Wyble
 * Package: wyble-scss
 *
 * Buttons.
**/

// Background Color
$color-button-primary-light: $color-pumpkin-skin;
$color-button-secondary-light: $color-primary;

// Font Colors
$color-button-font-light: $color-white;
$color-button-font-dark: $color-grey-dark;