/**
 *  Menus
 *
 * Author: Creative Blazer
 * Project: Wyble
 * Package: wyble-scss
 *
 * Menus.
**/

$color-menu-background: 'transparent';
$color-menu-active: darken($color-my-sin, 20);
$color-menu-link: $color-my-sin;
$color-menu-link-footer: $color-yellow-orange;
$color-menu-link-subfooter: $color-white;

$color-breadcrumbs: $color-grey-dark;