/**
 *  Footer
 *
 * Author: Creative Blazer
 * Project: Wyble
 * Package: wyble-scss
 *
 * Foooter and subfooter
**/

#wrapper-footer {
  @include make-container();

  background: $color-primary;
  color: $color-white;
  padding: $padding-box-large 0;
}

.site-footer {
  @include make-row();

  & > div {
    margin-bottom: $padding-box-large;
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
      @include make-col-ready();
      @include make-col(4);

      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      @include make-col(3);

      &.map {
        @include make-col(6);
      }
    }
  }


  .contact {

    h3 {
      text-transform: uppercase;
    }

    &-inner {
      background: $color-white;
      color: $color-grey-dark;
      padding: $padding-box-medium;
    }

    .social-icons {
      margin: $padding-box-small 0;
    }

    .address {
      margin: $padding-box-small 0;
    }

    .phone {
      background-color: map-get($icons, $color-gray-light);
      margin: $padding-box-small 0 $padding-box-small 0;

      &:before {
        @include font-smoothing();

        content: $fa-var-envelope-o;
        font: 1em/1.75 "FontAwesome";
      }
      @include link-colors($color-quinary, $color-quinary, $color-primary, $color-black);

    }
  }
  .map {

    iframe {
      height: auto;
      width: 100%;
    }

    @include media-breakpoint-up(lg) {

      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }

  .feed {
  }
}

#wrapper-subfooter {
  background: $color-secondary;
  color: $color-white;
  font-size: 1.4rem;
  font-weight: $font-weight-bold;
  padding: $padding-box-small;
  text-align: center;

  a {
    font-weight: $font-weight-normal;
  }
}
